<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='artemis2videos.css') }}">
</head>
<body>
    <header>
         <p>&copy; 2026 Mi Proyecto de HTML- Clase OC</p>
    <header>
    <main>
        <iframe src="https://www.youtube.com/embed/EIfhGm6wcew" frameborder="0"></iframe>
        <iframe src="https://www.youtube.com/embed/fSzj2OL2AvE" frameborder="0"></iframe>
    </main>
    <footer>
    <h1>pagina web de la nasa</h1>
<a href="index.html" class="logo-link">
    <img src="https://ipm.edu.ar/assets/img/logo.png" alt="Logo">
</a>
           
    </footer>
</body>
    </html>