<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
       
    <header>
         <h1>pagina principal</h1>
         <img src="https://ipm.edu.ar/assets/img/logo.png" alt="" width="80" height="100">
    </header>
    <main>
        <ul>
            <li><a href="pajaros.html">pagina de pajaros</a></li>
            <li><a href="artemis2videos.html">2 videos de artemis</a></li>
            <li><a href="INTSTRUCCIONES DE YOUTUBE.html">instrucciones de youtube</a></li>
            <li><a href="restaurante.html">menu de restaurante</a></li>
            <li><a href="formulario.html">formulario de trabajo</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2026 Mi Proyecto de HTML- Clase OC</p>
        
    </footer>