<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/youtube.css">
</head>
<body>
    <a href="index.html">

        <img src="https://ipm.edu.ar/assets/img/logo.png" alt=""> 
    </a>
    <header>
       <h1>Instrucciones para usar youtube</h1>
        
    </header>
    <main><h1>Instrucciones de Cómo Utilizar YouTube</h1>
    <p>Este es un documento simple con instrucciones para utilizar YouTube.</p>
    <ol>
        <li>Abre tu navegador web y en la barra de arriba pon "youtube.com".</li>
        <li>Alli pulsas el primer link que contenga un icono como este: <img src="https://i.ytimg.com/vi/QveDZzMwvVQ/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA6SFYmzHYMwP19E4ryoB2PYbsQFw" alt="logo de youtube" width="150" height="70"></li>
        <li>Si tienes una cuenta de Google, inicia sesión haciendo clic en "Iniciar sesión" en la esquina superior derecha.</li>
        <li>Para buscar videos, utiliza la barra de búsqueda en la parte superior de la página. Escribe palabras clave relacionadas con el contenido que deseas ver y presiona "Enter".</li>
        <li>Explora los resultados de búsqueda y haz clic en el video que deseas ver.</li>
        <li>Para suscribirte a un canal, haz clic en el botón "Suscribirse" debajo del video o en la página del canal.</li>
        <li>Si deseas crear tu propio contenido, haz clic en el ícono de la cámara con un signo más (+) y sigue las instrucciones para subir tu video</li>
    </main>
    <footer>
        <p>&copy; 2026 Mi Proyecto de HTML- Clase OC</p>
    

    </footer>
</body>
</html>
